<a href="https://colab.research.google.com/github/alecchae/income-level-prediciton/blob/main/incomelevelprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [54]:
train_data = pd.read_csv('/content/gdrive/My Drive/train_final.csv')
train_data.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                      'marital-status', 'occupation', 'relationship', 'race', 'sex',
                      'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
                      'income>50K']
train_data = train_data.replace('?', np.NaN)

#train_dataX = np.asmatrix(train_data.iloc[:, :train_data.shape[1]-1].values)
#train_dataY = np.asmatrix(train_data.iloc[:, train_data.shape[1]-1:].values)
train_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income>50K
0,53,Self-emp-not-inc,93449,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,1
1,33,Self-emp-not-inc,123424,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
2,47,Private,144844,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
3,40,Private,114580,HS-grad,9,Divorced,Craft-repair,Other-relative,White,Female,0,0,40,Vietnam,0
4,39,Private,115618,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,18,Private,83451,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,25,United-States,0
24996,64,Local-gov,202738,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,35,United-States,0
24997,39,Private,225544,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,Poland,0
24998,53,Private,346871,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Male,4787,0,46,United-States,1
24999,18,NaN,192321,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,40,United-States,0

In [55]:
test_data = pd.read_csv('/content/gdrive/My Drive/test_final.csv')
test_data_ID = test_data.iloc[:,0]
test_data_ID = test_data_ID.to_numpy()
test_data = test_data.drop('ID', axis = 1)
test_data.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                      'marital-status', 'occupation', 'relationship', 'race', 'sex',
                      'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']
test_data = test_data.replace('?', np.NaN)
test_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,33,Self-emp-not-inc,222162,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
1,68,NaN,29240,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,0,12,United-States
2,34,Private,103596,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States
3,57,Private,103403,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States
4,48,Private,152915,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23837,26,Private,43408,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
23838,27,Private,116372,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
23839,67,Self-emp-inc,182581,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,20,United-States
23840,46,Local-gov,274689,Assoc-acdm,12,Divorced,Protective-serv,Not-in-family,White,Male,0,0,40,United-States
23841,66,Federal-gov,47358,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,3471,0,40,United-States

In [56]:
test_data_ID

array([    1,     2,     3, ..., 23840, 23841, 23842])

In [57]:
test_data.isna().sum()

age                  0
workclass         1362
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1367
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     430
dtype: int64

In [58]:
train_data.isna().sum()

age                  0
workclass         1437
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1442
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     427
income>50K           0
dtype: int64

In [59]:
commonage = train_data.age.value_counts().index[0]
commonage = train_data.age.fillna(commonage)

commonworkclass = train_data.workclass.value_counts().index[0]
commonworkclass = train_data.workclass.fillna(commonworkclass)

commonfnlwgt = train_data['fnlwgt'].mean()
commonfnlwgt = train_data.fnlwgt.fillna(commonfnlwgt)

commoneducation = train_data.education.value_counts().index[0]
commoneducation =train_data.education.fillna(commoneducation)

commoneducationnum = train_data['education-num'].mean()
commoneducationnum= train_data['education-num'].fillna(commoneducationnum)

commonmaritalstatus = train_data['marital-status'].value_counts().index[0]
commonmaritalstatus = train_data['marital-status'].fillna(commonmaritalstatus)

commonoccupation = train_data.occupation.value_counts().index[0]
commonoccupation = train_data.occupation.fillna(commonoccupation)

commonrelationship = train_data.relationship.value_counts().index[0]
commonrelationship = train_data.relationship.fillna(commonrelationship)

commonrace = train_data.race.value_counts().index[0]
commonrace = train_data.race.fillna(commonrace)

commonsex = train_data.sex.value_counts().index[0]
commonsex = train_data.sex.fillna(commonsex)

commoncapitalgain = train_data['capital-gain'].mean()
commoncapitalgain = train_data['capital-gain'].fillna(commoncapitalgain)

commoncapitalloss = train_data['capital-loss'].mean()
commoncapitalloss = train_data['capital-loss'].fillna(commoncapitalloss)

commonhpw = train_data['hours-per-week'].mean()
commonhpw = train_data['hours-per-week'].fillna(commonhpw)

commonnativecountry = train_data['native-country'].value_counts().index[0]
commonnativecountry = train_data['native-country'].fillna(commonnativecountry)

commony = train_data['income>50K'].value_counts().index[0]
commony = train_data['income>50K'].fillna(commony)

train_data = pd.concat([commonage, commonworkclass, commonfnlwgt, commoneducation, commoneducationnum, commonmaritalstatus,
                 commonoccupation, commonrelationship, commonrace, commonsex, commoncapitalgain, commoncapitalloss,
                 commonhpw, commonnativecountry, commony], axis = 1)

print(train_data)

       age         workclass  fnlwgt     education  education-num  \
0       53  Self-emp-not-inc   93449   Prof-school             15
1       33  Self-emp-not-inc  123424     Bachelors             13
2       47           Private  144844       HS-grad              9
3       40           Private  114580       HS-grad              9
4       39           Private  115618       HS-grad              9
...    ...               ...     ...           ...            ...
24995   18           Private   83451       HS-grad              9
24996   64         Local-gov  202738       HS-grad              9
24997   39           Private  225544       Masters             14
24998   53           Private  346871       HS-grad              9
24999   18           Private  192321  Some-college             10

           marital-status        occupation    relationship  \
0      Married-civ-spouse    Prof-specialty         Husband
1      Married-civ-spouse   Exec-managerial         Husband
2      Married-civ-spouse      Craft-repair         Husband
3                Divorced      Craft-repair  Other-relative
4      Married-civ-spouse  Transport-moving         Husband
...                   ...               ...             ...
24995       Never-married      Adm-clerical   Not-in-family
24996  Married-civ-spouse      Adm-clerical            Wife
24997  Married-civ-spouse  Transport-moving         Husband
24998            Divorced    Prof-specialty   Not-in-family
24999       Never-married    Prof-specialty       Own-child

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0      Asian-Pac-Islander    Male             0             0              40
1                   White    Male             0             0              40
2                   White    Male             0             0              40
3                   White  Female             0             0              40
4                   White    Male             0             0              50
...                   ...     ...           ...           ...             ...
24995               White  Female             0             0              25
24996               White  Female             0             0              35
24997               White    Male             0             0              40
24998               White    Male          4787             0              46
24999               White    Male             0             0              40

      native-country  income>50K
0              India           1
1      United-States           1
2      United-States           0
3            Vietnam           0
4      United-States           0
...              ...         ...
24995  United-States           0
24996  United-States           0
24997         Poland           0
24998  United-States           1
24999  United-States           0

[25000 rows x 15 columns]

In [60]:
commonage = test_data.age.value_counts().index[0]
commonage = test_data.age.fillna(commonage)

commonworkclass = test_data.workclass.value_counts().index[0]
commonworkclass = test_data.workclass.fillna(commonworkclass)

commonfnlwgt = test_data['fnlwgt'].mean()
commonfnlwgt = test_data.fnlwgt.fillna(commonfnlwgt)

commoneducation = test_data.education.value_counts().index[0]
commoneducation = test_data.education.fillna(commoneducation)

commoneducationnum = test_data['education-num'].mean()
commoneducationnum= test_data['education-num'].fillna(commoneducationnum)

commonmaritalstatus = test_data['marital-status'].value_counts().index[0]
commonmaritalstatus = test_data['marital-status'].fillna(commonmaritalstatus)

commonoccupation = test_data.occupation.value_counts().index[0]
commonoccupation = test_data.occupation.fillna(commonoccupation)

commonrelationship = test_data.relationship.value_counts().index[0]
commonrelationship = test_data.relationship.fillna(commonrelationship)

commonrace = test_data.race.value_counts().index[0]
commonrace = test_data.race.fillna(commonrace)

commonsex = test_data.sex.value_counts().index[0]
commonsex = test_data.sex.fillna(commonsex)

commoncapitalgain = test_data['capital-gain'].mean()
commoncapitalgain = test_data['capital-gain'].fillna(commoncapitalgain)

commoncapitalloss = test_data['capital-loss'].mean()
commoncapitalloss = test_data['capital-loss'].fillna(commoncapitalloss)

commonhpw = test_data['hours-per-week'].mean()
commonhpw = test_data['hours-per-week'].fillna(commonhpw)

commonnativecountry = test_data['native-country'].value_counts().index[0]
commonnativecountry = test_data['native-country'].fillna(commonnativecountry)

test_data = pd.concat([commonage, commonworkclass, commonfnlwgt, commoneducation, commoneducationnum, commonmaritalstatus,
                 commonoccupation, commonrelationship, commonrace, commonsex, commoncapitalgain, commoncapitalloss,
                 commonhpw, commonnativecountry], axis = 1)

print(test_data)

       age         workclass  fnlwgt     education  education-num  \
0       33  Self-emp-not-inc  222162       HS-grad              9
1       68           Private   29240       HS-grad              9
2       34           Private  103596       HS-grad              9
3       57           Private  103403       5th-6th              3
4       48           Private  152915  Some-college             10
...    ...               ...     ...           ...            ...
23837   26           Private   43408     Bachelors             13
23838   27           Private  116372     Bachelors             13
23839   67      Self-emp-inc  182581  Some-college             10
23840   46         Local-gov  274689    Assoc-acdm             12
23841   66       Federal-gov   47358          10th              6

           marital-status         occupation   relationship   race     sex  \
0      Married-civ-spouse       Craft-repair        Husband  White    Male
1                 Widowed     Prof-specialty  Not-in-family  White  Female
2      Married-civ-spouse  Handlers-cleaners        Husband  White    Male
3      Married-civ-spouse   Transport-moving        Husband  White    Male
4           Never-married       Adm-clerical  Not-in-family  White  Female
...                   ...                ...            ...    ...     ...
23837  Married-civ-spouse     Prof-specialty        Husband  White    Male
23838       Never-married     Prof-specialty  Not-in-family  White  Female
23839  Married-civ-spouse    Exec-managerial        Husband  White    Male
23840            Divorced    Protective-serv  Not-in-family  White    Male
23841  Married-civ-spouse       Craft-repair        Husband  White    Male

       capital-gain  capital-loss  hours-per-week native-country
0                 0             0              40  United-States
1                 0             0              12  United-States
2                 0             0              40  United-States
3                 0             0              40  United-States
4                 0             0              40  United-States
...             ...           ...             ...            ...
23837             0             0              40  United-States
23838             0             0              40  United-States
23839         20051             0              20  United-States
23840             0             0              40  United-States
23841          3471             0              40  United-States

[23842 rows x 14 columns]

In [61]:
from sklearn.preprocessing import LabelEncoder

labelEncoder = LabelEncoder()
train_data["workclass"] = labelEncoder.fit_transform(train_data["workclass"])
train_data["education"] = labelEncoder.fit_transform(train_data["education"])
train_data["marital-status"] = labelEncoder.fit_transform(train_data["marital-status"])
train_data["occupation"] = labelEncoder.fit_transform(train_data["occupation"])
train_data["relationship"] = labelEncoder.fit_transform(train_data["relationship"])
train_data["race"] = labelEncoder.fit_transform(train_data["race"])
train_data["sex"] = labelEncoder.fit_transform(train_data["sex"])
train_data["native-country"] = labelEncoder.fit_transform(train_data["native-country"])

In [62]:
train_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income>50K
0,53,5,93449,14,15,2,9,0,1,1,0,0,40,17,1
1,33,5,123424,9,13,2,3,0,4,1,0,0,40,37,1
2,47,3,144844,11,9,2,2,0,4,1,0,0,40,37,0
3,40,3,114580,11,9,0,2,2,4,0,0,0,40,38,0
4,39,3,115618,11,9,2,13,0,4,1,0,0,50,37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,18,3,83451,11,9,4,0,1,4,0,0,0,25,37,0
24996,64,1,202738,11,9,2,0,5,4,0,0,0,35,37,0
24997,39,3,225544,12,14,2,13,0,4,1,0,0,40,29,0
24998,53,3,346871,11,9,0,9,1,4,1,4787,0,46,37,1
24999,18,3,192321,15,10,4,9,3,4,1,0,0,40,37,0

In [63]:
labelEncoder1 = LabelEncoder()
test_data["workclass"] = labelEncoder1.fit_transform(test_data["workclass"])
test_data["education"] = labelEncoder1.fit_transform(test_data["education"])
test_data["marital-status"] = labelEncoder1.fit_transform(test_data["marital-status"])
test_data["occupation"] = labelEncoder1.fit_transform(test_data["occupation"])
test_data["relationship"] = labelEncoder1.fit_transform(test_data["relationship"])
test_data["race"] = labelEncoder1.fit_transform(test_data["race"])
test_data["sex"] = labelEncoder1.fit_transform(test_data["sex"])
test_data["native-country"] = labelEncoder1.fit_transform(test_data["native-country"])
labelEncoder1

LabelEncoder()

In [64]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
standarscaler = MinMaxScaler()

train_dataX = train_data.iloc[:, :train_data.shape[1]-1]
train_dataY = train_data.iloc[:, train_data.shape[1]-1:]

train_dataX_standarscaler = standarscaler.fit_transform(train_dataX)
train_dataY_standarscaler = standarscaler.fit_transform(train_dataY)

train_X = pd.DataFrame(train_dataX_standarscaler, columns = train_dataX.columns)
train_Y = pd.DataFrame(train_dataY_standarscaler, columns = train_dataY.columns)

In [65]:
train_X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,0.493151,0.714286,0.054910,0.933333,0.933333,0.333333,0.692308,0.0,0.25,1.0,0.00000,0.0,0.397959,0.435897
1,0.219178,0.714286,0.075190,0.600000,0.800000,0.333333,0.230769,0.0,1.00,1.0,0.00000,0.0,0.397959,0.948718
2,0.410959,0.428571,0.089681,0.733333,0.533333,0.333333,0.153846,0.0,1.00,1.0,0.00000,0.0,0.397959,0.948718
3,0.315068,0.428571,0.069206,0.733333,0.533333,0.000000,0.153846,0.4,1.00,0.0,0.00000,0.0,0.397959,0.974359
4,0.301370,0.428571,0.069909,0.733333,0.533333,0.333333,1.000000,0.0,1.00,1.0,0.00000,0.0,0.500000,0.948718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0.013699,0.428571,0.048146,0.733333,0.533333,0.666667,0.000000,0.2,1.00,0.0,0.00000,0.0,0.244898,0.948718
24996,0.643836,0.142857,0.128849,0.733333,0.533333,0.333333,0.000000,1.0,1.00,0.0,0.00000,0.0,0.346939,0.948718
24997,0.301370,0.428571,0.144278,0.800000,0.866667,0.333333,1.000000,0.0,1.00,1.0,0.00000,0.0,0.397959,0.743590
24998,0.493151,0.428571,0.226360,0.733333,0.533333,0.000000,0.692308,0.2,1.00,1.0,0.04787,0.0,0.459184,0.948718
24999,0.013699,0.428571,0.121801,1.000000,0.600000,0.666667,0.692308,0.6,1.00,1.0,0.00000,0.0,0.397959,0.948718

In [66]:
train_Y

       income>50K
0             1.0
1             1.0
2             0.0
3             0.0
4             0.0
...           ...
24995         0.0
24996         0.0
24997         0.0
24998         1.0
24999         0.0

[25000 rows x 1 columns]

In [67]:
standarscaler1 = MinMaxScaler()


test_dataX_standarscaler = standarscaler1.fit_transform(test_data)

test_X = pd.DataFrame(test_dataX_standarscaler, columns = test_data.columns)

In [68]:
test_X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,0.219178,0.714286,0.144714,0.733333,0.533333,0.333333,0.153846,0.0,1.0,1.0,0.000000,0.0,0.397959,0.95
1,0.698630,0.428571,0.010921,0.733333,0.533333,1.000000,0.692308,0.2,1.0,0.0,0.000000,0.0,0.112245,0.95
2,0.232877,0.428571,0.062488,0.733333,0.533333,0.333333,0.384615,0.0,1.0,1.0,0.000000,0.0,0.397959,0.95
3,0.547945,0.428571,0.062354,0.266667,0.133333,0.333333,1.000000,0.0,1.0,1.0,0.000000,0.0,0.397959,0.95
4,0.424658,0.428571,0.096691,1.000000,0.600000,0.666667,0.000000,0.2,1.0,0.0,0.000000,0.0,0.397959,0.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23837,0.123288,0.428571,0.020747,0.600000,0.800000,0.333333,0.692308,0.0,1.0,1.0,0.000000,0.0,0.397959,0.95
23838,0.136986,0.428571,0.071348,0.600000,0.800000,0.666667,0.692308,0.2,1.0,0.0,0.000000,0.0,0.397959,0.95
23839,0.684932,0.571429,0.117265,1.000000,0.600000,0.333333,0.230769,0.0,1.0,1.0,0.200512,0.0,0.193878,0.95
23840,0.397260,0.142857,0.181142,0.466667,0.733333,0.000000,0.769231,0.2,1.0,1.0,0.000000,0.0,0.397959,0.95
23841,0.671233,0.000000,0.023486,0.000000,0.333333,0.333333,0.153846,0.0,1.0,1.0,0.034710,0.0,0.397959,0.95

In [69]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(train_X, train_Y)
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)

In [70]:
from sklearn.ensemble import AdaBoostClassifier
adaboost = AdaBoostClassifier(n_estimators=1000, learning_rate=1e-1, random_state=0)
model = adaboost.fit(train_X,train_Y)
prediciton = model.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [71]:
model.score(train_X, train_Y)

0.8644

In [72]:
from sklearn import svm
clf = svm.SVC()
clf.fit(train_X, train_Y)
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [73]:
from sklearn.linear_model import Perceptron
clf = Perceptron(tol=1e-3, random_state=0)
clf.fit(train_X, train_Y)
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)
result

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

          ID  Prediction
0          1         0.0
1          2         0.0
2          3         0.0
3          4         0.0
4          5         0.0
...      ...         ...
23837  23838         0.0
23838  23839         0.0
23839  23840         1.0
23840  23841         1.0
23841  23842         0.0

[23842 rows x 2 columns]

In [74]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
prediction = gnb.fit(train_X, train_Y).predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)
result

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

          ID  Prediction
0          1         0.0
1          2         0.0
2          3         0.0
3          4         0.0
4          5         0.0
...      ...         ...
23837  23838         0.0
23838  23839         0.0
23839  23840         1.0
23840  23841         0.0
23841  23842         0.0

[23842 rows x 2 columns]

In [75]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,BaggingClassifier,ExtraTreesClassifier
from sklearn.naive_bayes import GaussianNB

clf = BaggingClassifier()
clf.fit(train_X, train_Y)
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)

/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_bagging.py:719: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [76]:
import lightgbm as lgb
clf = lgb.LGBMClassifier()
clf.fit(train_X, train_Y)
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)
result

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

          ID  Prediction
0          1         0.0
1          2         0.0
2          3         0.0
3          4         0.0
4          5         0.0
...      ...         ...
23837  23838         0.0
23838  23839         0.0
23839  23840         1.0
23840  23841         0.0
23841  23842         0.0

[23842 rows x 2 columns]

In [77]:
import lightgbm as lgb
from lightgbm import plot_tree
import matplotlib.pyplot as plt
clf = lgb.LGBMClassifier(boosting="dart", uniform_drop = "true", xgboost_dart_mode = "true")
clf.fit(train_X, train_Y)
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [78]:
import lightgbm as lgb
#clf = lgb.LGBMRegressor(boosting="dart", uniform_drop = "true", xgboost_dart_mode = "true")
clf = lgb.LGBMRegressor(boosting_type="dart", learning_rate=0.02, n_estimators=1000, max_bin=400)
clf.fit(train_X, train_Y)
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)

In [79]:
train_Y

       income>50K
0             1.0
1             1.0
2             0.0
3             0.0
4             0.0
...           ...
24995         0.0
24996         0.0
24997         0.0
24998         1.0
24999         0.0

[25000 rows x 1 columns]

In [80]:
import xgboost as xgb
from xgboost import XGBRFRegressor 
from sklearn.model_selection import GridSearchCV
PARAMETERS = {
"learning_rate":[0.3, 0.1, 0.03],
"n_estimators":[100]
}

#xgbclf = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1, max_depth = 5, alpha = 10, n_estimators = 10)
#clf = GridSearchCV(xgbclf,param_grid=PARAMETERS)
#clf = xgb.XGBRegressor(objective ='reg:squarederror')
clf = xgb.XGBRFRegressor(objective ='reg:squarederror')
clf.fit(train_X, train_Y.values.ravel())
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)

In [81]:
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     |████████████████████████████████| 76.6 MB 1.1 MB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.1.0)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

In [82]:
# CatBoost parameters
params = {}
params['loss_function'] = 'MAE'
params['eval_metric'] = 'MAE'
params['nan_mode'] = 'Min'  # Method to handle NaN (set NaN to either Min or Max)
params['random_seed'] = 0

params['iterations'] = 1000  # default 1000, use early stopping during training
params['learning_rate'] = 0.015  # default 0.03

params['border_count'] = 254  # default 254 (alias max_bin, suggested to keep at default for best quality)

params['max_depth'] = 6  # default 6 (must be <= 16, 6 to 10 is recommended)
params['random_strength'] = 1  # default 1 (used during splitting to deal with overfitting, try different values)
params['l2_leaf_reg'] = 5  # default 3 (used for leaf value calculation, try different values)
params['bagging_temperature'] = 1  # default 1 (higher value -> more aggressive bagging, try different values)

In [83]:
from catboost import CatBoostRegressor
param = {'depth': [10],
          'learning_rate' : [0.15],
         'l2_leaf_reg': [9],
         'iterations': [1000],
         'eval_metric' : ['MAE']}
model = CatBoostRegressor()
clf = GridSearchCV(estimator=model, param_grid = param, cv=3, n_jobs=-1)
clf.fit(train_X, train_Y)
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)

0:	learn: 0.3443914	total: 87.7ms	remaining: 1m 27s
1:	learn: 0.3254529	total: 115ms	remaining: 57.5s
2:	learn: 0.3092352	total: 139ms	remaining: 46.1s
3:	learn: 0.2944805	total: 158ms	remaining: 39.2s
4:	learn: 0.2820745	total: 177ms	remaining: 35.2s
5:	learn: 0.2716677	total: 204ms	remaining: 33.8s
6:	learn: 0.2623559	total: 229ms	remaining: 32.5s
7:	learn: 0.2542672	total: 248ms	remaining: 30.7s
8:	learn: 0.2469372	total: 265ms	remaining: 29.2s
9:	learn: 0.2405070	total: 283ms	remaining: 28.1s
10:	learn: 0.2351497	total: 310ms	remaining: 27.9s
11:	learn: 0.2314482	total: 317ms	remaining: 26.1s
12:	learn: 0.2273333	total: 336ms	remaining: 25.5s
13:	learn: 0.2232245	total: 354ms	remaining: 25s
14:	learn: 0.2198794	total: 372ms	remaining: 24.4s
15:	learn: 0.2170706	total: 392ms	remaining: 24.1s
16:	learn: 0.2140437	total: 411ms	remaining: 23.8s
17:	learn: 0.2117366	total: 430ms	remaining: 23.5s
18:	learn: 0.2094333	total: 449ms	remaining: 23.2s
19:	learn: 0.2078909	total: 470ms	remaining: 23s
20:	learn: 0.2062751	total: 489ms	remaining: 22.8s
21:	learn: 0.2050543	total: 507ms	remaining: 22.6s
22:	learn: 0.2036765	total: 531ms	remaining: 22.5s
23:	learn: 0.2025027	total: 549ms	remaining: 22.3s
24:	learn: 0.2017627	total: 568ms	remaining: 22.1s
25:	learn: 0.2012003	total: 585ms	remaining: 21.9s
26:	learn: 0.2004939	total: 604ms	remaining: 21.8s
27:	learn: 0.1996158	total: 627ms	remaining: 21.8s
28:	learn: 0.1990487	total: 645ms	remaining: 21.6s
29:	learn: 0.1985175	total: 662ms	remaining: 21.4s
30:	learn: 0.1980043	total: 681ms	remaining: 21.3s
31:	learn: 0.1976051	total: 699ms	remaining: 21.1s
32:	learn: 0.1967413	total: 716ms	remaining: 21s
33:	learn: 0.1961868	total: 742ms	remaining: 21.1s
34:	learn: 0.1956147	total: 760ms	remaining: 21s
35:	learn: 0.1952507	total: 780ms	remaining: 20.9s
36:	learn: 0.1946021	total: 798ms	remaining: 20.8s
37:	learn: 0.1941801	total: 816ms	remaining: 20.6s
38:	learn: 0.1938260	total: 834ms	remaining: 20.6s
39:	learn: 0.1933916	total: 852ms	remaining: 20.5s
40:	learn: 0.1930827	total: 871ms	remaining: 20.4s
41:	learn: 0.1927203	total: 889ms	remaining: 20.3s
42:	learn: 0.1924271	total: 907ms	remaining: 20.2s
43:	learn: 0.1922261	total: 934ms	remaining: 20.3s
44:	learn: 0.1920552	total: 956ms	remaining: 20.3s
45:	learn: 0.1916052	total: 974ms	remaining: 20.2s
46:	learn: 0.1911216	total: 992ms	remaining: 20.1s
47:	learn: 0.1906904	total: 1.01s	remaining: 20s
48:	learn: 0.1904360	total: 1.03s	remaining: 20s
49:	learn: 0.1900702	total: 1.05s	remaining: 20s
50:	learn: 0.1897758	total: 1.07s	remaining: 20s
51:	learn: 0.1893793	total: 1.09s	remaining: 20s
52:	learn: 0.1892227	total: 1.11s	remaining: 19.9s
53:	learn: 0.1890379	total: 1.13s	remaining: 19.8s
54:	learn: 0.1888051	total: 1.15s	remaining: 19.8s
55:	learn: 0.1885087	total: 1.17s	remaining: 19.8s
56:	learn: 0.1882231	total: 1.19s	remaining: 19.7s
57:	learn: 0.1881064	total: 1.21s	remaining: 19.7s
58:	learn: 0.1878224	total: 1.24s	remaining: 19.8s
59:	learn: 0.1876286	total: 1.26s	remaining: 19.7s
60:	learn: 0.1874823	total: 1.27s	remaining: 19.6s
61:	learn: 0.1873202	total: 1.29s	remaining: 19.6s
62:	learn: 0.1871869	total: 1.31s	remaining: 19.5s
63:	learn: 0.1870322	total: 1.33s	remaining: 19.5s
64:	learn: 0.1868312	total: 1.36s	remaining: 19.5s
65:	learn: 0.1864108	total: 1.38s	remaining: 19.5s
66:	learn: 0.1862382	total: 1.4s	remaining: 19.4s
67:	learn: 0.1861509	total: 1.41s	remaining: 19.4s
68:	learn: 0.1860366	total: 1.43s	remaining: 19.3s
69:	learn: 0.1857336	total: 1.45s	remaining: 19.3s
70:	learn: 0.1854120	total: 1.47s	remaining: 19.2s
71:	learn: 0.1852192	total: 1.49s	remaining: 19.2s
72:	learn: 0.1851057	total: 1.51s	remaining: 19.1s
73:	learn: 0.1845944	total: 1.52s	remaining: 19.1s
74:	learn: 0.1843221	total: 1.54s	remaining: 19s
75:	learn: 0.1840436	total: 1.56s	remaining: 19s
76:	learn: 0.1839207	total: 1.59s	remaining: 19s
77:	learn: 0.1836575	total: 1.61s	remaining: 19s
78:	learn: 0.1835119	total: 1.63s	remaining: 19s
79:	learn: 0.1834392	total: 1.65s	remaining: 18.9s
80:	learn: 0.1832431	total: 1.67s	remaining: 18.9s
81:	learn: 0.1832290	total: 1.68s	remaining: 18.9s
82:	learn: 0.1832001	total: 1.71s	remaining: 18.9s
83:	learn: 0.1829239	total: 1.73s	remaining: 18.8s
84:	learn: 0.1825540	total: 1.74s	remaining: 18.8s
85:	learn: 0.1823504	total: 1.76s	remaining: 18.7s
86:	learn: 0.1820765	total: 1.79s	remaining: 18.7s
87:	learn: 0.1815387	total: 1.8s	remaining: 18.7s
88:	learn: 0.1813631	total: 1.82s	remaining: 18.6s
89:	learn: 0.1812834	total: 1.84s	remaining: 18.6s
90:	learn: 0.1811114	total: 1.86s	remaining: 18.6s
91:	learn: 0.1809708	total: 1.89s	remaining: 18.6s
92:	learn: 0.1808138	total: 1.91s	remaining: 18.6s
93:	learn: 0.1806668	total: 1.93s	remaining: 18.6s
94:	learn: 0.1804653	total: 1.94s	remaining: 18.5s
95:	learn: 0.1803106	total: 1.96s	remaining: 18.5s
96:	learn: 0.1802267	total: 1.98s	remaining: 18.4s
97:	learn: 0.1800246	total: 2s	remaining: 18.4s
98:	learn: 0.1797820	total: 2.02s	remaining: 18.4s
99:	learn: 0.1797761	total: 2.04s	remaining: 18.4s
100:	learn: 0.1797711	total: 2.06s	remaining: 18.3s
101:	learn: 0.1796154	total: 2.08s	remaining: 18.3s
102:	learn: 0.1795286	total: 2.1s	remaining: 18.3s
103:	learn: 0.1794799	total: 2.12s	remaining: 18.3s
104:	learn: 0.1793268	total: 2.15s	remaining: 18.3s
105:	learn: 0.1792058	total: 2.16s	remaining: 18.2s
106:	learn: 0.1789448	total: 2.18s	remaining: 18.2s
107:	learn: 0.1786589	total: 2.2s	remaining: 18.2s
108:	learn: 0.1784906	total: 2.24s	remaining: 18.3s
109:	learn: 0.1782838	total: 2.26s	remaining: 18.3s
110:	learn: 0.1780938	total: 2.28s	remaining: 18.3s
111:	learn: 0.1779521	total: 2.3s	remaining: 18.2s
112:	learn: 0.1778135	total: 2.32s	remaining: 18.2s
113:	learn: 0.1777077	total: 2.34s	remaining: 18.2s
114:	learn: 0.1775340	total: 2.36s	remaining: 18.2s
115:	learn: 0.1773496	total: 2.38s	remaining: 18.1s
116:	learn: 0.1771552	total: 2.4s	remaining: 18.1s
117:	learn: 0.1771046	total: 2.42s	remaining: 18.1s
118:	learn: 0.1769893	total: 2.44s	remaining: 18.1s
119:	learn: 0.1767018	total: 2.46s	remaining: 18s
120:	learn: 0.1766002	total: 2.48s	remaining: 18s
121:	learn: 0.1762885	total: 2.5s	remaining: 18s
122:	learn: 0.1760099	total: 2.52s	remaining: 18s
123:	learn: 0.1759198	total: 2.54s	remaining: 17.9s
124:	learn: 0.1757417	total: 2.56s	remaining: 17.9s
125:	learn: 0.1756517	total: 2.58s	remaining: 17.9s
126:	learn: 0.1755072	total: 2.6s	remaining: 17.8s
127:	learn: 0.1754341	total: 2.61s	remaining: 17.8s
128:	learn: 0.1753055	total: 2.64s	remaining: 17.8s
129:	learn: 0.1751731	total: 2.66s	remaining: 17.8s
130:	learn: 0.1751715	total: 2.68s	remaining: 17.8s
131:	learn: 0.1749086	total: 2.69s	remaining: 17.7s
132:	learn: 0.1748128	total: 2.71s	remaining: 17.7s
133:	learn: 0.1747423	total: 2.74s	remaining: 17.7s
134:	learn: 0.1746719	total: 2.76s	remaining: 17.7s
135:	learn: 0.1746489	total: 2.77s	remaining: 17.6s
136:	learn: 0.1743892	total: 2.8s	remaining: 17.6s
137:	learn: 0.1742509	total: 2.81s	remaining: 17.6s
138:	learn: 0.1739785	total: 2.83s	remaining: 17.6s
139:	learn: 0.1737776	total: 2.86s	remaining: 17.6s
140:	learn: 0.1736318	total: 2.88s	remaining: 17.5s
141:	learn: 0.1735377	total: 2.9s	remaining: 17.5s
142:	learn: 0.1734727	total: 2.91s	remaining: 17.5s
143:	learn: 0.1734451	total: 2.93s	remaining: 17.4s
144:	learn: 0.1733357	total: 2.96s	remaining: 17.4s
145:	learn: 0.1732233	total: 2.97s	remaining: 17.4s
146:	learn: 0.1730013	total: 2.99s	remaining: 17.4s
147:	learn: 0.1728210	total: 3.01s	remaining: 17.3s
148:	learn: 0.1727216	total: 3.03s	remaining: 17.3s
149:	learn: 0.1725560	total: 3.05s	remaining: 17.3s
150:	learn: 0.1724016	total: 3.07s	remaining: 17.3s
151:	learn: 0.1722373	total: 3.09s	remaining: 17.3s
152:	learn: 0.1720948	total: 3.11s	remaining: 17.2s
153:	learn: 0.1719687	total: 3.13s	remaining: 17.2s
154:	learn: 0.1718552	total: 3.15s	remaining: 17.2s
155:	learn: 0.1717263	total: 3.17s	remaining: 17.2s
156:	learn: 0.1715921	total: 3.2s	remaining: 17.2s
157:	learn: 0.1714891	total: 3.23s	remaining: 17.2s
158:	learn: 0.1712695	total: 3.25s	remaining: 17.2s
159:	learn: 0.1711681	total: 3.27s	remaining: 17.2s
160:	learn: 0.1711014	total: 3.3s	remaining: 17.2s
161:	learn: 0.1710425	total: 3.32s	remaining: 17.2s
162:	learn: 0.1708973	total: 3.33s	remaining: 17.1s
163:	learn: 0.1708197	total: 3.35s	remaining: 17.1s
164:	learn: 0.1707719	total: 3.37s	remaining: 17.1s
165:	learn: 0.1706291	total: 3.39s	remaining: 17s
166:	learn: 0.1704697	total: 3.41s	remaining: 17s
167:	learn: 0.1703382	total: 3.43s	remaining: 17s
168:	learn: 0.1702398	total: 3.45s	remaining: 17s
169:	learn: 0.1702025	total: 3.47s	remaining: 16.9s
170:	learn: 0.1701857	total: 3.48s	remaining: 16.9s
171:	learn: 0.1700730	total: 3.51s	remaining: 16.9s
172:	learn: 0.1699088	total: 3.53s	remaining: 16.9s
173:	learn: 0.1698298	total: 3.55s	remaining: 16.8s
174:	learn: 0.1698194	total: 3.57s	remaining: 16.8s
175:	learn: 0.1697414	total: 3.58s	remaining: 16.8s
176:	learn: 0.1695584	total: 3.61s	remaining: 16.8s
177:	learn: 0.1693872	total: 3.63s	remaining: 16.8s
178:	learn: 0.1692667	total: 3.65s	remaining: 16.8s
179:	learn: 0.1690103	total: 3.68s	remaining: 16.8s
180:	learn: 0.1689768	total: 3.7s	remaining: 16.7s
181:	learn: 0.1688724	total: 3.72s	remaining: 16.7s
182:	learn: 0.1687889	total: 3.74s	remaining: 16.7s
183:	learn: 0.1686539	total: 3.76s	remaining: 16.7s
184:	learn: 0.1685653	total: 3.78s	remaining: 16.7s
185:	learn: 0.1684983	total: 3.8s	remaining: 16.6s
186:	learn: 0.1683920	total: 3.82s	remaining: 16.6s
187:	learn: 0.1682378	total: 3.84s	remaining: 16.6s
188:	learn: 0.1681642	total: 3.86s	remaining: 16.6s
189:	learn: 0.1681023	total: 3.88s	remaining: 16.5s
190:	learn: 0.1680071	total: 3.9s	remaining: 16.5s
191:	learn: 0.1678406	total: 3.91s	remaining: 16.5s
192:	learn: 0.1677284	total: 3.94s	remaining: 16.5s
193:	learn: 0.1676027	total: 3.96s	remaining: 16.4s
194:	learn: 0.1674991	total: 3.98s	remaining: 16.4s
195:	learn: 0.1674100	total: 4s	remaining: 16.4s
196:	learn: 0.1673088	total: 4.02s	remaining: 16.4s
197:	learn: 0.1672639	total: 4.04s	remaining: 16.4s
198:	learn: 0.1672264	total: 4.06s	remaining: 16.3s
199:	learn: 0.1670015	total: 4.08s	remaining: 16.3s
200:	learn: 0.1669229	total: 4.1s	remaining: 16.3s
201:	learn: 0.1668336	total: 4.12s	remaining: 16.3s
202:	learn: 0.1666745	total: 4.14s	remaining: 16.3s
203:	learn: 0.1665870	total: 4.17s	remaining: 16.3s
204:	learn: 0.1665432	total: 4.2s	remaining: 16.3s
205:	learn: 0.1663640	total: 4.22s	remaining: 16.3s
206:	learn: 0.1662382	total: 4.25s	remaining: 16.3s
207:	learn: 0.1662092	total: 4.26s	remaining: 16.2s
208:	learn: 0.1660899	total: 4.28s	remaining: 16.2s
209:	learn: 0.1659776	total: 4.3s	remaining: 16.2s
210:	learn: 0.1658970	total: 4.32s	remaining: 16.2s
211:	learn: 0.1657700	total: 4.34s	remaining: 16.1s
212:	learn: 0.1656618	total: 4.37s	remaining: 16.1s
213:	learn: 0.1655509	total: 4.41s	remaining: 16.2s
214:	learn: 0.1655272	total: 4.43s	remaining: 16.2s
215:	learn: 0.1654460	total: 4.45s	remaining: 16.2s
216:	learn: 0.1654031	total: 4.47s	remaining: 16.1s
217:	learn: 0.1653356	total: 4.49s	remaining: 16.1s
218:	learn: 0.1652292	total: 4.51s	remaining: 16.1s
219:	learn: 0.1651426	total: 4.53s	remaining: 16.1s
220:	learn: 0.1651019	total: 4.55s	remaining: 16s
221:	learn: 0.1649874	total: 4.57s	remaining: 16s
222:	learn: 0.1648674	total: 4.59s	remaining: 16s
223:	learn: 0.1647310	total: 4.61s	remaining: 16s
224:	learn: 0.1646704	total: 4.63s	remaining: 15.9s
225:	learn: 0.1645368	total: 4.65s	remaining: 15.9s
226:	learn: 0.1644410	total: 4.67s	remaining: 15.9s
227:	learn: 0.1643705	total: 4.69s	remaining: 15.9s
228:	learn: 0.1643592	total: 4.71s	remaining: 15.8s
229:	learn: 0.1642112	total: 4.72s	remaining: 15.8s
230:	learn: 0.1641987	total: 4.74s	remaining: 15.8s
231:	learn: 0.1641085	total: 4.77s	remaining: 15.8s
232:	learn: 0.1640931	total: 4.79s	remaining: 15.8s
233:	learn: 0.1640025	total: 4.8s	remaining: 15.7s
234:	learn: 0.1639566	total: 4.82s	remaining: 15.7s
235:	learn: 0.1638481	total: 4.84s	remaining: 15.7s
236:	learn: 0.1637339	total: 4.87s	remaining: 15.7s
237:	learn: 0.1636811	total: 4.88s	remaining: 15.6s
238:	learn: 0.1636056	total: 4.91s	remaining: 15.6s
239:	learn: 0.1635441	total: 4.92s	remaining: 15.6s
240:	learn: 0.1635103	total: 4.94s	remaining: 15.6s
241:	learn: 0.1634566	total: 4.97s	remaining: 15.6s
242:	learn: 0.1634038	total: 4.99s	remaining: 15.5s
243:	learn: 0.1633068	total: 5.01s	remaining: 15.5s
244:	learn: 0.1632989	total: 5.03s	remaining: 15.5s
245:	learn: 0.1632747	total: 5.05s	remaining: 15.5s
246:	learn: 0.1632086	total: 5.08s	remaining: 15.5s
247:	learn: 0.1630965	total: 5.1s	remaining: 15.5s
248:	learn: 0.1629954	total: 5.11s	remaining: 15.4s
249:	learn: 0.1628949	total: 5.13s	remaining: 15.4s
250:	learn: 0.1628176	total: 5.15s	remaining: 15.4s
251:	learn: 0.1627505	total: 5.18s	remaining: 15.4s
252:	learn: 0.1626289	total: 5.2s	remaining: 15.3s
253:	learn: 0.1623905	total: 5.21s	remaining: 15.3s
254:	learn: 0.1623077	total: 5.24s	remaining: 15.3s
255:	learn: 0.1621989	total: 5.27s	remaining: 15.3s
256:	learn: 0.1621229	total: 5.29s	remaining: 15.3s
257:	learn: 0.1620383	total: 5.31s	remaining: 15.3s
258:	learn: 0.1619278	total: 5.33s	remaining: 15.3s
259:	learn: 0.1618834	total: 5.35s	remaining: 15.2s
260:	learn: 0.1617777	total: 5.37s	remaining: 15.2s
261:	learn: 0.1616847	total: 5.39s	remaining: 15.2s
262:	learn: 0.1615615	total: 5.41s	remaining: 15.2s
263:	learn: 0.1615043	total: 5.43s	remaining: 15.1s
264:	learn: 0.1613568	total: 5.45s	remaining: 15.1s
265:	learn: 0.1612658	total: 5.47s	remaining: 15.1s
266:	learn: 0.1611149	total: 5.49s	remaining: 15.1s
267:	learn: 0.1609743	total: 5.51s	remaining: 15.1s
268:	learn: 0.1608958	total: 5.53s	remaining: 15s
269:	learn: 0.1607979	total: 5.55s	remaining: 15s
270:	learn: 0.1607529	total: 5.57s	remaining: 15s
271:	learn: 0.1606939	total: 5.59s	remaining: 15s
272:	learn: 0.1606429	total: 5.61s	remaining: 14.9s
273:	learn: 0.1605371	total: 5.63s	remaining: 14.9s
274:	learn: 0.1604643	total: 5.65s	remaining: 14.9s
275:	learn: 0.1603997	total: 5.67s	remaining: 14.9s
276:	learn: 0.1603392	total: 5.69s	remaining: 14.8s
277:	learn: 0.1602846	total: 5.71s	remaining: 14.8s
278:	learn: 0.1601223	total: 5.74s	remaining: 14.8s
279:	learn: 0.1600715	total: 5.75s	remaining: 14.8s
280:	learn: 0.1599573	total: 5.77s	remaining: 14.8s
281:	learn: 0.1598694	total: 5.79s	remaining: 14.7s
282:	learn: 0.1597876	total: 5.81s	remaining: 14.7s
283:	learn: 0.1596726	total: 5.83s	remaining: 14.7s
284:	learn: 0.1596502	total: 5.85s	remaining: 14.7s
285:	learn: 0.1595264	total: 5.87s	remaining: 14.7s
286:	learn: 0.1592932	total: 5.89s	remaining: 14.6s
287:	learn: 0.1592141	total: 5.91s	remaining: 14.6s
288:	learn: 0.1591870	total: 5.93s	remaining: 14.6s
289:	learn: 0.1590566	total: 5.95s	remaining: 14.6s
290:	learn: 0.1590242	total: 5.97s	remaining: 14.6s
291:	learn: 0.1589204	total: 5.99s	remaining: 14.5s
292:	learn: 0.1588730	total: 6.01s	remaining: 14.5s
293:	learn: 0.1588030	total: 6.04s	remaining: 14.5s
294:	learn: 0.1587102	total: 6.06s	remaining: 14.5s
295:	learn: 0.1586472	total: 6.08s	remaining: 14.5s
296:	learn: 0.1585539	total: 6.1s	remaining: 14.4s
297:	learn: 0.1584860	total: 6.11s	remaining: 14.4s
298:	learn: 0.1583838	total: 6.13s	remaining: 14.4s
299:	learn: 0.1583163	total: 6.16s	remaining: 14.4s
300:	learn: 0.1582278	total: 6.19s	remaining: 14.4s
301:	learn: 0.1581303	total: 6.25s	remaining: 14.4s
302:	learn: 0.1580231	total: 6.29s	remaining: 14.5s
303:	learn: 0.1579247	total: 6.3s	remaining: 14.4s
304:	learn: 0.1578051	total: 6.32s	remaining: 14.4s
305:	learn: 0.1576908	total: 6.34s	remaining: 14.4s
306:	learn: 0.1576494	total: 6.36s	remaining: 14.4s
307:	learn: 0.1575894	total: 6.38s	remaining: 14.3s
308:	learn: 0.1574674	total: 6.4s	remaining: 14.3s
309:	learn: 0.1573671	total: 6.42s	remaining: 14.3s
310:	learn: 0.1573064	total: 6.44s	remaining: 14.3s
311:	learn: 0.1572228	total: 6.46s	remaining: 14.2s
312:	learn: 0.1571066	total: 6.48s	remaining: 14.2s
313:	learn: 0.1570353	total: 6.5s	remaining: 14.2s
314:	learn: 0.1569657	total: 6.52s	remaining: 14.2s
315:	learn: 0.1568960	total: 6.54s	remaining: 14.2s
316:	learn: 0.1567953	total: 6.56s	remaining: 14.1s
317:	learn: 0.1567515	total: 6.57s	remaining: 14.1s
318:	learn: 0.1566573	total: 6.59s	remaining: 14.1s
319:	learn: 0.1565836	total: 6.61s	remaining: 14s
320:	learn: 0.1564831	total: 6.63s	remaining: 14s
321:	learn: 0.1564405	total: 6.65s	remaining: 14s
322:	learn: 0.1563250	total: 6.68s	remaining: 14s
323:	learn: 0.1562119	total: 6.69s	remaining: 14s
324:	learn: 0.1561496	total: 6.71s	remaining: 13.9s
325:	learn: 0.1560559	total: 6.73s	remaining: 13.9s
326:	learn: 0.1559586	total: 6.75s	remaining: 13.9s
327:	learn: 0.1558189	total: 6.77s	remaining: 13.9s
328:	learn: 0.1557411	total: 6.79s	remaining: 13.8s
329:	learn: 0.1556499	total: 6.8s	remaining: 13.8s
330:	learn: 0.1555839	total: 6.83s	remaining: 13.8s
331:	learn: 0.1555541	total: 6.85s	remaining: 13.8s
332:	learn: 0.1555086	total: 6.87s	remaining: 13.8s
333:	learn: 0.1554223	total: 6.89s	remaining: 13.7s
334:	learn: 0.1553339	total: 6.91s	remaining: 13.7s
335:	learn: 0.1552956	total: 6.92s	remaining: 13.7s
336:	learn: 0.1552392	total: 6.94s	remaining: 13.7s
337:	learn: 0.1551475	total: 6.97s	remaining: 13.6s
338:	learn: 0.1550631	total: 6.99s	remaining: 13.6s
339:	learn: 0.1550364	total: 7.01s	remaining: 13.6s
340:	learn: 0.1549455	total: 7.03s	remaining: 13.6s
341:	learn: 0.1548874	total: 7.05s	remaining: 13.6s
342:	learn: 0.1548655	total: 7.07s	remaining: 13.5s
343:	learn: 0.1547959	total: 7.1s	remaining: 13.5s
344:	learn: 0.1546092	total: 7.12s	remaining: 13.5s
345:	learn: 0.1545907	total: 7.14s	remaining: 13.5s
346:	learn: 0.1545594	total: 7.16s	remaining: 13.5s
347:	learn: 0.1545421	total: 7.18s	remaining: 13.4s
348:	learn: 0.1545038	total: 7.19s	remaining: 13.4s
349:	learn: 0.1544577	total: 7.21s	remaining: 13.4s
350:	learn: 0.1543844	total: 7.24s	remaining: 13.4s
351:	learn: 0.1543276	total: 7.26s	remaining: 13.4s
352:	learn: 0.1542662	total: 7.29s	remaining: 13.4s
353:	learn: 0.1541966	total: 7.32s	remaining: 13.4s
354:	learn: 0.1541324	total: 7.35s	remaining: 13.3s
355:	learn: 0.1540372	total: 7.36s	remaining: 13.3s
356:	learn: 0.1540094	total: 7.38s	remaining: 13.3s
357:	learn: 0.1539493	total: 7.4s	remaining: 13.3s
358:	learn: 0.1538540	total: 7.42s	remaining: 13.3s
359:	learn: 0.1538122	total: 7.44s	remaining: 13.2s
360:	learn: 0.1536881	total: 7.46s	remaining: 13.2s
361:	learn: 0.1536311	total: 7.47s	remaining: 13.2s
362:	learn: 0.1534915	total: 7.49s	remaining: 13.2s
363:	learn: 0.1533991	total: 7.51s	remaining: 13.1s
364:	learn: 0.1533351	total: 7.54s	remaining: 13.1s
365:	learn: 0.1532922	total: 7.55s	remaining: 13.1s
366:	learn: 0.1532106	total: 7.57s	remaining: 13.1s
367:	learn: 0.1531744	total: 7.59s	remaining: 13s
368:	learn: 0.1531026	total: 7.61s	remaining: 13s
369:	learn: 0.1529943	total: 7.64s	remaining: 13s
370:	learn: 0.1528870	total: 7.66s	remaining: 13s
371:	learn: 0.1528539	total: 7.67s	remaining: 13s
372:	learn: 0.1528209	total: 7.69s	remaining: 12.9s
373:	learn: 0.1527889	total: 7.71s	remaining: 12.9s
374:	learn: 0.1527033	total: 7.73s	remaining: 12.9s
375:	learn: 0.1526774	total: 7.75s	remaining: 12.9s
376:	learn: 0.1526128	total: 7.77s	remaining: 12.8s
377:	learn: 0.1523968	total: 7.79s	remaining: 12.8s
378:	learn: 0.1523635	total: 7.81s	remaining: 12.8s
379:	learn: 0.1523096	total: 7.83s	remaining: 12.8s
380:	learn: 0.1522654	total: 7.85s	remaining: 12.7s
381:	learn: 0.1522314	total: 7.87s	remaining: 12.7s
382:	learn: 0.1521597	total: 7.88s	remaining: 12.7s
383:	learn: 0.1520777	total: 7.9s	remaining: 12.7s
384:	learn: 0.1520256	total: 7.92s	remaining: 12.7s
385:	learn: 0.1519543	total: 7.94s	remaining: 12.6s
386:	learn: 0.1518499	total: 7.96s	remaining: 12.6s
387:	learn: 0.1517991	total: 7.98s	remaining: 12.6s

In [84]:
result

          ID  Prediction
0          1    0.003650
1          2   -0.008298
2          3    0.120843
3          4    0.210045
4          5    0.108720
...      ...         ...
23837  23838    0.242747
23838  23839    0.031804
23839  23840    1.080783
23840  23841    0.304992
23841  23842   -0.236679

[23842 rows x 2 columns]

In [85]:
from sklearn.tree import  DecisionTreeRegressor

clf = DecisionTreeRegressor()
clf.fit(train_X, train_Y)
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)

In [86]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor()
clf.fit(train_X, train_Y)
prediction = clf.predict(test_X)
prediction_pd = pd.DataFrame(prediction, columns=["Prediction"])
test_data_ID = pd.DataFrame(test_data_ID, columns=["ID"])
frames = [test_data_ID, prediction_pd]
result = pd.concat(frames, axis = 1)

<ipython-input-86-b81b32489c91>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(train_X, train_Y)

In [87]:
testing = result.Prediction.replace(0,np.NaN)
testing
testing.isna().sum()

6704

In [88]:
from google.colab import files

result.to_csv("result.csv", encoding = 'utf-8-sig')
#files.download("result.csv")