<a href="https://colab.research.google.com/github/alecchae/income-level-prediciton/blob/main/incomelevelprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [22]:
train_data = pd.read_csv('/content/gdrive/My Drive/train_final.csv')
train_data.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                      'marital-status', 'occupation', 'relationship', 'race', 'sex',
                      'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
                      'income>50K']
train_data = train_data.replace('?', np.NaN)
#train_dataX = np.asmatrix(train_data.iloc[:, :train_data.shape[1]-1].values)
#train_dataY = np.asmatrix(train_data.iloc[:, train_data.shape[1]-1:].values)

In [47]:
commonage = train_data.age.value_counts().index[0]
train_data.age.fillna(commonage)

commonworkclass = train_data.workclass.value_counts().index[0]
train_data.workclass.fillna(commonworkclass)

commonfnlwgt = train_data['fnlwgt'].mean()
train_data.fnlwgt.fillna(commonfnlwgt)

commoneducation = train_data.education.value_counts().index[0]
train_data.education.fillna(commoneducation)

commoneducationnum = train_data['education-num'].mean()
train_data['education-num'].fillna(commoneducationnum)

commonmaritalstatus = train_data['marital-status'].value_counts().index[0]
train_data['marital-status'].fillna(commonmaritalstatus)

commonoccupation = train_data.occupation.value_counts().index[0]
train_data.occupation.fillna(commonoccupation)

commonrelationship = train_data.relationship.value_counts().index[0]
train_data.relationship.fillna(commonrelationship)

commonrace = train_data.race.value_counts().index[0]
train_data.race.fillna(commonrace)

commonsex = train_data.sex.value_counts().index[0]
train_data.sex.fillna(commonsex)

commoncapitalgain = train_data['capital-gain'].mean()
train_data['capital-gain'].fillna(commoncapitalgain)

commoncapitalloss = train_data['capital-loss'].mean()
train_data['capital-loss'].fillna(commoncapitalloss)

commonhpw = train_data['hours-per-week'].mean()
train_data['hours-per-week'].fillna(commonhpw)

commonnativecountry = train_data['native-country'].value_counts().index[0]
train_data['native-country'].fillna(commonnativecountry)

commony = train_data['income>50K'].value_counts().index[0]
train_data['income>50K'].fillna(commony)

train_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income>50K
0,53,Self-emp-not-inc,93449,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,1
1,33,Self-emp-not-inc,123424,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
2,47,Private,144844,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
3,40,Private,114580,HS-grad,9,Divorced,Craft-repair,Other-relative,White,Female,0,0,40,Vietnam,0
4,39,Private,115618,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,18,Private,83451,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,25,United-States,0
24996,64,Local-gov,202738,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,35,United-States,0
24997,39,Private,225544,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,Poland,0
24998,53,Private,346871,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Male,4787,0,46,United-States,1
24999,18,NaN,192321,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,40,United-States,0